<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="NawigatorB34.Android.NawigatorB34.Android" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
	<application android:label="Nawigator SGGW B34" android:icon="@drawable/Icon"></application>
</manifest>